/*=========================================================*/
/*================== QUERIES RESPONSIVE ==================*/
/*=========================================================*/

@media (max-width: 320px) { 
  footer a.footer-btn { 
    width: 100%; 
    font-size: 20px; 
    line-height: 45px; 
    height: auto; 
    padding: 10px 0; 
  } 
}

@media (min-width: 321px) and (max-width: 375px) { 
  footer a.footer-btn { 
    width: 95%; 
    font-size: 20px; 
    line-height: 48px; 
    height: auto; 
    padding: 10px 0; 
  } 
}

@media (min-width: 376px) and (max-width: 414px) { 
  footer a.footer-btn { 
    width: 90%; 
    font-size: 20px; 
    line-height: 50px; 
    height: auto; 
    padding: 10px 0; 
  } 
}

@media (min-width: 415px) and (max-width: 480px) {
  footer a.footer-btn { 
    width: 90%; 
    font-size: 20px; 
    line-height: 60px; 
    height: auto; 
    padding: 10px 0; 
  }
}

@media (min-width: 481px) and (max-width: 768px) { 
  footer a.footer-btn { 
    width: 85%; 
    font-size: 20px; 
    line-height: 55px; 
    height: auto; 
    padding: 10px 0; 
  } 
}

@media (min-width: 769px) and (max-width: 992px) { 
  footer a.footer-btn { 
    width: 90%; 
    font-size: 20px; 
    line-height: 60px; 
    height: auto; 
    padding: 10px 0; 
  } 
}

@media (min-width: 992px) { 
  footer a.footer-btn { 
    width: auto; 
    font-size: 20px; 
    line-height: normal; 
    padding: 5px 20px; 
  } 
}
