/* _variables.scss */

/* -------------------- FONTS -------------------- */
$font-primary: 'Irish Grover', cursive;
$font-secondary: 'Arial', sans-serif;

/* -------------------- COLORS -------------------- */
$color-white: #ffffff;
$color-black: #000000;
$color-pink-light: #ffb6c1;
$color-pink-dark: #d24da5;
$color-purple-light: #C23693;
$color-purple-dark: #5C1946;
$color-red: #ff0000;
$color-red-dark: #2C1515;

/* -------------------- SIZES -------------------- */
$h1-size-desktop: 66px;
$h1-size-laptop: 56px;
$h1-size-tablet: 44px;
$h1-size-mobile-large: 38px;
$h1-size-mobile-medium: 34px;
$h1-size-mobile-small: 32px;

/* -------------------- GRADIENTS -------------------- */
$gradient-header: linear-gradient(90deg, $color-red-dark 0%, $color-black 100%);
$gradient-header-hover: linear-gradient(90deg, $color-black 0%, $color-red 100%);
$gradient-main: linear-gradient(135deg, $color-pink-light, #d3d3d3);
$gradient-footer: linear-gradient(180deg, $color-purple-light 0%, $color-purple-dark 100%);
$gradient-footer-hover: linear-gradient(180deg, $color-pink-dark 0%, $color-purple-dark 100%);

/* -------------------- MAPS -------------------- */
$colors: (
  "primary": $color-red,
  "secondary": $color-purple-light,
  "background": $color-white,
  "text": $color-black,
  "accent": $color-pink-dark
);

$font-sizes: (
  "h1-desktop": $h1-size-desktop,
  "h1-laptop": $h1-size-laptop,
  "h1-tablet": $h1-size-tablet,
  "h1-mobile-large": $h1-size-mobile-large,
  "h1-mobile-medium": $h1-size-mobile-medium,
  "h1-mobile-small": $h1-size-mobile-small
);
