// ===================== HEADER =====================

// Importamos mixins y extends
@use '../utilities/mixin' as *;
@use '../utilities/extend' as *;

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  position: relative;
}

h1.titulo {
  @extend %titulo; // extend de utilities
  margin: 0;
}

header nav.menu ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

header nav.menu ul li a {
  @extend %menu-link; // extend de utilities
}

header nav.menu ul li a:hover {
  background: linear-gradient(90deg, #000000, #ff0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.1);
}

// Animación para el menú
nav.navbar.animate__animated {
  --animate-duration: 1s;
  --animate-delay: 0.2s;
}
